# Experiment 1

## Acceleration due to Gravity by Simple Pendulum

In [44]:
# Defining the necessary libraries
import pandas as pd

In [45]:
# List to save the length of the pendulum
l = [160,150,60,50]

# The uncertainty of the meter rule reading (instrumental uncertainty)
instrumental_uncertainty = 0.05

# Number of transits
n = [ 0,10,20,30,40,200,210,220,230,240]

In [46]:
# Functin to convert mm:ss to s
def convert_to_seconds(time):
    return int(time.split(":")[0])*60 + int(time.split(":")[1])

In [47]:
# List to save the length of the pendulum
l = [160,150,60,50]

# The uncertainty of the meter rule reading (instrumental uncertainty) [cm]
instrumental_uncertainty = 0.05

# Transit
n_start = [0,10,20,30,40]
n_stop = [200,210,220,230,240]


# The uncertainty of the time [s]
time_uncertainty = 0.01

In [80]:
# Function to calculate the time for 200 oscillations [t]
def time_for_200_oscillation(t_start, t_stop):
    t_200_oscillation = [None]*len(n_start)
    for i in range(0,len(t_start)):
        t_200_oscillation[i] = round((t_stop[i] - t_start[i]),2)
    return t_200_oscillation
    

# Function to calculate the period [T] (s)
def period(t_200_oscillation):
    period = [None]*len(t_200_oscillation)
    for j in range(0,len(t_200_oscillation)):
        period[j] = round((t_200_oscillation[j]/200),5)
    return period

### Tabel 1.1 : Time for 200 Oscillations

### L = 160 +/- 0.05 cm

In [81]:
# Table 1.1 data generation

# List to save the time for 200 oscillations [L = 160cm]
t_start1 = [4.32,29.99,55.58,81.30,107.11]
t_stop1 = [518.32,544.12,569.89,595.58,621.22]

# call the functions
t1 = time_for_200_oscillation(t_start1, t_stop1)
p1 = period(t1)

### L = 150 +/- 0.05 cm

In [82]:
# Table 1.2 data generation

# List to save the time for 200 oscillations [L = 160cm]
t_start2 = [07.14,31.97,56.88,81.81,106.62]
t_stop2 = [505.12,529.99,554.89,579.88,604.78]

# call the functions
t2 = time_for_200_oscillation(t_start2, t_stop2)
p2 = period(t2)

### L = 60 +/- 0.05 cm

In [ ]:
# Table 1.3 data generation

# List to save the time for 200 oscillations [L = 160cm]
t_start3 = [06.91,22.89,38.94,54.93,71.04]
t_stop3 = [327.78,343.89,359.78,375.92,391.88]

# call the functions
t3 = time_for_200_oscillation(t_start3, t_stop3)
p3 = period(t3)

### L = 50 +/- 0.05 cm

In [ ]:
# Table 1.4 data generation

# List to save the time for 200 oscillations [L = 160cm]
t_start4 = [06.17,20.91,35.66,50.49,65.23]
t_stop4 = [301.64,316.36,331.18,345.94,360.80]

# call the functions
t4 = time_for_200_oscillation(t_start4, t_stop4)
p4 = period(t4)

In [85]:
# Create DataFrame

column_names = ['Transit[start]', 'Time[start] (s)', 'Transit[stop]', 'Time[stop] (s)', 'Time for 200 Oscillations (s)', 'Period [T] (s)']

# Create a dictionary where the keys are the column names and the values are the lists of data


# data dictionary for table 1
data1 = {
    column_names[0]: n_start,
    column_names[1]: t_start1,
    column_names[2]: n_stop,
    column_names[3]: t_stop1,
    column_names[4]: t1,
    column_names[5]: p1
}

data2 = {
    column_names[0]: n_start,
    column_names[1]: t_start2,
    column_names[2]: n_stop,
    column_names[3]: t_stop2,
    column_names[4]: t2,
    column_names[5]: p2
}

data3 = {
    column_names[0]: n_start,
    column_names[1]: t_start3,
    column_names[2]: n_stop,
    column_names[3]: t_stop3,
    column_names[4]: t3,
    column_names[5]: p3
}
data4 = {
    column_names[0]: n_start,
    column_names[1]: t_start4,
    column_names[2]: n_stop,
    column_names[3]: t_stop4,
    column_names[4]: t4,
    column_names[5]: p4
}

In [84]:
# Table 1.1
print("Tabel 1.1 : Time for 200 Oscillations")
df = pd.DataFrame(data1)
display(df)

# Table 1.2
print("Tabel 1.2 : Time for 200 Oscillations")
df = pd.DataFrame(data2)
display(df)

# Table 1.3
print("Tabel 1.3 : Time for 200 Oscillations")
df = pd.DataFrame(data3)
display(df)

# Table 1.4
print("Tabel 1.4 : Time for 200 Oscillations")
df = pd.DataFrame(data4)
display(df)

Tabel 1.1 : Time for 200 Oscillations

,Transit[start],Time[start] (s),Transit[stop],Time[stop] (s),Time for 200 Oscillations (s),Period [T] (s)
0,0,4.32,200,518.32,514.00,2.57000
1,10,29.99,210,544.12,514.13,2.57065
2,20,55.58,220,569.89,514.31,2.57155
3,30,81.30,230,595.58,514.28,2.57140
4,40,107.11,240,621.22,514.11,2.57055

Tabel 1.2 : Time for 200 Oscillations

,Transit[start],Time[start] (s),Transit[stop],Time[stop] (s),Time for 200 Oscillations (s),Period [T] (s)
0,0,4.32,200,518.32,514.00,2.57000
1,10,29.99,210,544.12,514.13,2.57065
2,20,55.58,220,569.89,514.31,2.57155
3,30,81.30,230,595.58,514.28,2.57140
4,40,107.11,240,621.22,514.11,2.57055

Tabel 1.3 : Time for 200 Oscillations

,Transit[start],Time[start] (s),Transit[stop],Time[stop] (s),Time for 200 Oscillations (s),Period [T] (s)
0,0,4.32,200,518.32,514.00,2.57000
1,10,29.99,210,544.12,514.13,2.57065
2,20,55.58,220,569.89,514.31,2.57155
3,30,81.30,230,595.58,514.28,2.57140
4,40,107.11,240,621.22,514.11,2.57055

Tabel 1.4 : Time for 200 Oscillations

,Transit[start],Time[start] (s),Transit[stop],Time[stop] (s),Time for 200 Oscillations (s),Period [T] (s)
0,0,4.32,200,518.32,514.00,2.57000
1,10,29.99,210,544.12,514.13,2.57065
2,20,55.58,220,569.89,514.31,2.57155
3,30,81.30,230,595.58,514.28,2.57140
4,40,107.11,240,621.22,514.11,2.57055